{% extends "base.html" %}

{% block main %}

<style>
    section,
    aside {
        width: 50%;
        height: 50%;
        padding: 20px 20px 0 20px;
        margin-top: 30px;
    }

    h1 {
        margin-bottom: 0;
    }
</style>

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" href="/">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                            <path
                                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                            </path>
                        </svg>
                        Go back</a>
                </div>

                <img src="https://cdn.dribbble.com/users/3294839/screenshots/14567472/media/524efe16b803e0d913d725c120b0cb46.jpg?compress=1&resize=1600x1200&vertical=top"
                    style="object-fit:cover; border-radius:50%; height:150px; width:150px; margin-top: 50px;">

                <aside style="float: right;">
                    <p class="nhsuk-card__description_name">Mayank Patel</p>
                    <p class="nhsuk-card__description_role">Role: Junior Developer (Web and Infrastructure)</p>
                    <p class="nhsuk-card__description_team">Current team: Infra - DevOps</p>
                </aside>

                <br> <br> <br>

                <h3>Skills</h3>

                <div>
                    <p class="nhsuk-card__description">Terraform ⭐️⭐️⭐️
                        <a style="float: right; display: inline-block;" class="nhsuk-action-link__link"
                            href="/delete_skill/{{ username }}">
                            <span class="nhsuk-action-link__text">Delete</span>
                        </a>
                    </p>
                </div>

                <div>
                    <p class="nhsuk-card__description">Terraform ⭐️⭐️⭐️
                        <a style="float: right; display: inline-block;" class="nhsuk-action-link__link"
                            href="/delete_skill/{{ username }}">
                            <span class="nhsuk-action-link__text">Delete</span>
                        </a>
                    </p>
                </div>

                <div>
                    <p class="nhsuk-card__description">Terraform ⭐️⭐️⭐️
                        <a style="float: right; display: inline-block;" class="nhsuk-action-link__link"
                            href="/delete_skill/{{ username }}">
                            <span class="nhsuk-action-link__text">Delete</span>
                        </a>
                    </p>
                </div>

                <br>

                <h3>Additional details</h3>
                <p class="nhsuk-card__description">
                    Sint aliquip ad ad qui adipisicing veniam veniam et consectetur cupidatat in qui proident
                    aliquip. Aute ad aute sit Lorem. Pariatur dolor commodo proident eu irure mollit in aute tempor
                    deserunt id nostrud sit adipisicing.
                </p>

                <div>
                    <a style="float: left; display: inline-block;" class="nhsuk-button"
                        href="/update_skill/{{ username }}">
                        <span class="nhsuk-action-link__text">Update Skill</span>
                    </a>

                    <a style="float: right; display: inline-block;" class="nhsuk-button"
                        href="/update_comment/{{ username }}">
                        <span class="nhsuk-action-link__text">Update comments</span>
                    </a>
                </div>
            </div>
        </div>
</div>
</main>
</div>

{% endblock %}