{% extends "base.html" %} {% block main %}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                        <h1 class="nhsuk-fieldset__heading">
                            Update comments
                        </h1>
                    </legend>

                    <br>

                    <form method="post" action="/update_comment/{{ userId }}">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="more-detail">
                                Add additonal details?
                            </label>
                            <div class="nhsuk-hint" id="comment_hint">
                                Don't include personal or financial information, eg your National Insurance number or
                                credit
                                card details.
                            </div>
                            <textarea class="nhsuk-textarea" id="comment" name="comment" rows="5"
                                aria-describedby="comments-hint"
                                spellcheck="true">{{ currentComment.comments }}</textarea>
                        </div>

                        {% if currentComment.comments %}
                        <a style="float: left; display: inline-block; background-color: #d5281b;" class="nhsuk-button"
                            href="/delete_comment/{{ userId }}">
                            <span class="nhsuk-action-link__text">Delete comment</span>
                        </a>
                        {% endif %}

                        <button class="nhsuk-button" type="submit" style="float: right;">
                            Submit
                        </button>
                    </form>
                </fieldset>
            </div>
        </div>
    </main>
</div>

{% endblock %}